# macOS files
.DS_Store

# Xcode files
*.xcuserstate
xcuserdata/
DerivedData/
*.xcworkspace
!default.xcworkspace
*.xcodeproj/*
IDEWorkspaceChecks.plist

# Build products
build/
*.build/

# CocoaPods
Pods/
